@charset "UTF-8";
.flexCol--home-conatiner-products {
  margin-block: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

.flexCol--container-slider {
  margin-bottom: 3rem; }

.flexRow--header-container-mob {
  width: 100%; }

.flexRowContent--header-main-mob {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px; }

.flexRowContent--header-mob-menu {
  justify-content: flex-start;
  display: flex;
  align-items: center; }
  .flexRowContent--header-mob-menu .stretchChildrenWidth {
    width: unset !important; }

.flexRowContent--header-mob-logo {
  width: 4rem;
  display: flex;
  align-items: center; }

.flexRowContent--header-mob-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

:global(.vtex-flex-layout-0-x-flexRow--header-mob-icons) :global(.vtex-flex-layout-0-x-flexRowContent--header-mob-icons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: unset !important; }

:global(.vtex-flex-layout-0-x-flexRow--header-mob-icons) :global(.vtex-flex-layout-0-x-flexRowContent--header-mob-icons) :global(.vtex-minicart-2-x-minicartWrapperContainer--minicart) :global(.vtex-minicart-2-x-openIconContainer) {
  padding: 0; }

.flexColChild--container-dep-top {
  width: calc(100% + 40px) !important;
  margin-inline: -20px; }
  @media (min-width: 1008px) {
    .flexColChild--container-dep-top {
      width: calc(100% + 4.4vw) !important;
      margin-inline: -2.2vw; } }

.flexColChild--departamentTopTextContainer {
  margin-block: 1.75rem 2rem; }

.flexCol--container-slider-categorias {
  margin-bottom: 2rem; }
  .flexCol--container-slider-categorias :global(.vtex-slider-layout-0-x-sliderLayoutContainer--slidercat) {
    margin-top: 1rem !important; }

.flexCol--container-dep-bottom {
  margin-top: 2rem; }

.flexColChild--image-dep-bottom {
  width: calc(100% + 40px) !important;
  margin-inline: -20px;
  margin-bottom: 1rem; }
  @media (min-width: 1008px) {
    .flexColChild--image-dep-bottom {
      width: calc(100% + 4.4vw) !important;
      margin-inline: -2.2vw; } }

.flexRowContent--not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flexCol--not-found-text {
  margin-block: 2rem; }

.flexRowContent--product-wrapper-minicart {
  background-color: #f9f9f9;
  margin-bottom: 0.5rem; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-productImage) {
    padding: 0.25rem 0.25rem 0;
    height: 6.75rem; }
  .flexRowContent--product-wrapper-minicart .flexCol--product-data {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-productName) {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    font-family: "SofiaPro";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.875rem;
    color: #3e3e3d; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-productPriceContainer--price) {
    display: flex;
    gap: 0.25rem; }
    .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-productPriceContainer--price) :global(.vtex-product-list-0-x-productPriceCurrency--price) {
      color: #3e3e3d; }
    .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-productPriceContainer--price) :global(.vtex-product-list-0-x-productPrice--price) {
      font-size: 0.875rem;
      color: #3e3e3d; }
  .flexRowContent--product-wrapper-minicart .flexRowContent--quantity-selector-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "SofiaPro"; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-quantitySelectorButton) {
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
    border: #ebebeb 1px solid; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-quantitySelectorDecrease) {
    border-right: none; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-quantitySelectorIncrease) {
    border-left: none; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-inputContainer) {
    padding: 0.5rem 0;
    width: 2rem;
    border: #ebebeb 1px solid;
    border-left: none;
    border-right: none; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-removeButton) :global(.vtex-product-list-0-x-deleteIcon) {
    display: none; }
  .flexRowContent--product-wrapper-minicart :global(.vtex-product-list-0-x-removeButton)::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1439_6719)'%3E%3Cpath d='M14.666 2.66667H11.932C11.622 1.14733 10.276 0 8.66602 0H7.33268C5.72335 0 4.37668 1.14733 4.06668 2.66667H1.33268C0.964682 2.66667 0.666016 2.96467 0.666016 3.33333C0.666016 3.702 0.964682 4 1.33268 4H1.90602L2.77002 12.986C2.93535 14.7047 4.36202 16 6.08802 16H9.90602C11.6347 16 13.0613 14.702 13.2247 12.9813L14.0753 4H14.6653C15.0333 4 15.332 3.702 15.332 3.33333C15.332 2.96467 15.034 2.66667 14.666 2.66667ZM7.33268 1.33333H8.66602C9.53402 1.33333 10.2673 1.89267 10.5433 2.66667H5.45602C5.73202 1.89267 6.46535 1.33333 7.33335 1.33333H7.33268ZM10.4707 10.862C10.7313 11.1227 10.7313 11.544 10.4707 11.8047C10.3407 11.9347 10.17 12 9.99935 12C9.82868 12 9.65802 11.9347 9.52802 11.8047L7.99935 10.276L6.47068 11.8047C6.34068 11.9347 6.17002 12 5.99935 12C5.82868 12 5.65802 11.9347 5.52802 11.8047C5.26735 11.544 5.26735 11.1227 5.52802 10.862L7.05668 9.33333L5.52802 7.80467C5.26735 7.544 5.26735 7.12267 5.52802 6.862C5.78868 6.60133 6.21002 6.60133 6.47068 6.862L7.99935 8.39067L9.52802 6.862C9.78868 6.60133 10.21 6.60133 10.4707 6.862C10.7313 7.12267 10.7313 7.544 10.4707 7.80467L8.94202 9.33333L10.4707 10.862Z' fill='%23838383'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1439_6719'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    padding-right: 0.62rem; }

.flexRowContent--minicart-footer {
  position: fixed;
  bottom: 0;
  background-color: #ffffff; }
  .flexRowContent--minicart-footer .flexCol--minicart-footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem; }

.flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) {
  padding-block: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem; }
  .flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink) {
    padding: 0 !important; }
    .flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink)::after {
      content: 'Página Inicial';
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0px;
      font-family: "SofiaPro";
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 0.75rem;
      color: #ffffff;
      display: flex; }
    .flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink) :global(.vtex-breadcrumb-1-x-homeIcon) {
      display: none; }
  .flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) {
    padding: 0 !important;
    display: flex;
    gap: 0.5rem; }
    .flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow)::before {
      content: '|';
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0px;
      font-family: "SofiaPro";
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 0.75rem;
      color: #ffffff;
      display: flex; }
    .flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) :global(.vtex-breadcrumb-1-x-link) {
      padding: 0 !important;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0px;
      font-family: "SofiaPro";
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 0.75rem;
      color: #ffffff; }
    .flexColChild--departamentTopInfo :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) :global(.vtex-breadcrumb-1-x-caretIcon) {
      display: none; }

.flexColChild--search-page-master {
  margin-top: 2.38rem; }
  .flexColChild--search-page-master .flexRow--filterOrderInner {
    border-block: 1px solid #ebebeb;
    padding: 1rem 1.25rem;
    width: calc(100% + 40px) !important;
    margin-inline: -20px; }
    @media (min-width: 1008px) {
      .flexColChild--search-page-master .flexRow--filterOrderInner {
        width: calc(100% + 4.4vw) !important;
        margin-inline: -2.2vw; } }

.flexColChild--search-top,
.flexRowContent--not-found-content {
  display: flex;
  justify-content: center; }
  .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container),
  .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) {
    padding-block: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem; }
    .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink),
    .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink) {
      padding: 0 !important; }
      .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink)::after,
      .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink)::after {
        content: 'Página Inicial';
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0px;
        font-family: "SofiaPro";
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 0.75rem;
        color: #3e3e3d;
        display: flex; }
      .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink) :global(.vtex-breadcrumb-1-x-homeIcon),
      .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink) :global(.vtex-breadcrumb-1-x-homeIcon) {
        display: none; }
    .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow),
    .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) {
      padding: 0 !important;
      display: flex;
      gap: 0.5rem; }
      .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow)::before,
      .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow)::before {
        content: '|';
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0px;
        font-family: "SofiaPro";
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 0.75rem;
        color: #3e3e3d;
        display: flex; }
      .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) :global(.vtex-breadcrumb-1-x-link),
      .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) :global(.vtex-breadcrumb-1-x-link) {
        padding: 0 !important;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0px;
        font-family: "SofiaPro";
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 0.75rem;
        color: #3e3e3d; }
      .flexColChild--search-top :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) :global(.vtex-breadcrumb-1-x-caretIcon),
      .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) :global(.vtex-breadcrumb-1-x-caretIcon) {
        display: none; }
  .flexColChild--search-top :global(.vtex-search-result-3-x-galleryTitle--layout),
  .flexRowContent--not-found-content :global(.vtex-search-result-3-x-galleryTitle--layout) {
    margin-block: 1rem 0 !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
    font-family: "SofiaPro";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    color: #3e3e3d;
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .flexColChild--search-top :global(.vtex-search-result-3-x-galleryTitle--layout)::before,
    .flexRowContent--not-found-content :global(.vtex-search-result-3-x-galleryTitle--layout)::before {
      content: '"';
      display: flex; }
    .flexColChild--search-top :global(.vtex-search-result-3-x-galleryTitle--layout)::after,
    .flexRowContent--not-found-content :global(.vtex-search-result-3-x-galleryTitle--layout)::after {
      content: '"';
      display: flex; }

.flexColChild--container-dep-top {
  position: relative; }
  .flexColChild--container-dep-top .flexCol--departamentTopInfo {
    position: absolute;
    top: -5.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 20px; }
    .flexColChild--container-dep-top .flexCol--departamentTopInfo :global(.vtex-search-result-3-x-galleryTitle--layout) {
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0px;
      font-family: "SofiaPro";
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 2.5rem;
      color: #ffffff;
      margin-block: 0.5rem 0 !important; }

.flexColChild--container-filtro-quantidade :global(.vtex-search-result-3-x-showingProducts) {
  padding: 0;
  margin-block: 2rem 1rem; }

.flexColChild--filterOrderContainer :global(.vtex-search-result-3-x-showingProducts) {
  padding: 0;
  margin-block: 0 1rem; }

.flexRowContent--filterOrderInner {
  display: flex;
  flex-direction: row;
  align-items: center; }

.flexCol--search-top {
  justify-content: center; }

.flexRowContent--not-found-content {
  margin-top: 2.38rem; }
  .flexRowContent--not-found-content :global(.vtex-breadcrumb-1-x-container) {
    justify-content: center; }
  .flexRowContent--not-found-content :global(.vtex-search-result-3-x-galleryTitle--layout) {
    justify-content: center; }
