.container {
  padding-inline: 20px; }
  @media (min-width: 1008px) {
    .container {
      max-width: unset !important; } }
  .container .container {
    padding: 0 !important; }

.imageElement--image-top-departament {
  width: 100%;
  height: auto; }

.imageElement--image-bottom-departament {
  width: 100%;
  height: auto; }

:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) {
  border: 1px solid #f9f9f9; }
  :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
    text-align: start;
    font-family: "SofiaPro";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    font-family: "SofiaPro";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    background-color: transparent; }
  :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
    background-color: transparent; }
    :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-suffixWrapper) {
      background-color: transparent; }
      :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-suffixWrapper) :global(.vtex-store-components-3-x-searchBarIcon) {
        background-color: transparent; }
