.menu {
  padding: 2rem 1.25rem; }
  .menu .userInfo {
    gap: 1.125rem;
    margin-bottom: 1.3125rem; }
    .menu .userInfo .userImage {
      display: none; }
    .menu .userInfo::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Ccircle cx='30' cy='30' r='30' fill='%23EBEBEB'/%3E%3Ccircle cx='30' cy='30' r='29.5' fill='%23C8C8C8' stroke='%233E3E3D'/%3E%3Cpath d='M30.0013 30C28.168 30 26.5985 29.3472 25.293 28.0417C23.9874 26.7361 23.3346 25.1667 23.3346 23.3334C23.3346 21.5 23.9874 19.9306 25.293 18.625C26.5985 17.3195 28.168 16.6667 30.0013 16.6667C31.8346 16.6667 33.4041 17.3195 34.7096 18.625C36.0152 19.9306 36.668 21.5 36.668 23.3334C36.668 25.1667 36.0152 26.7361 34.7096 28.0417C33.4041 29.3472 31.8346 30 30.0013 30ZM16.668 43.3334V38.6667C16.668 37.7222 16.9113 36.8539 17.398 36.0617C17.8835 35.2706 18.5291 34.6667 19.3346 34.25C21.0569 33.3889 22.8069 32.7428 24.5846 32.3117C26.3624 31.8817 28.168 31.6667 30.0013 31.6667C31.8346 31.6667 33.6402 31.8817 35.418 32.3117C37.1957 32.7428 38.9457 33.3889 40.668 34.25C41.4735 34.6667 42.1191 35.2706 42.6046 36.0617C43.0913 36.8539 43.3346 37.7222 43.3346 38.6667V43.3334H16.668Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      display: flex;
      width: 60px;
      height: 60px; }
  .menu :global(.vtex-account_menu-link) {
    padding: 1rem 0;
    margin: 0;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    color: #3e3e3d; }
  .menu .menuLink {
    padding: 1rem 0;
    margin: 0;
    border-bottom: 1px solid #c8c8c8;
    color: #D37070; }

:global(.vtex-pageHeader__container) {
  padding: 2rem 1.25rem 1rem; }
  :global(.vtex-pageHeader__container) :global(.vtex-pageHeader-link__container) {
    margin-bottom: 1.5rem; }
  :global(.vtex-pageHeader__container) :global(.vtex__icon-arrow-back) {
    display: none; }
  :global(.vtex-pageHeader__container) :global(.t-action--small) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    color: #3e3e3d;
    text-decoration: underline; }
    :global(.vtex-pageHeader__container) :global(.t-action--small)::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='8' viewBox='0 0 4 8' fill='none'%3E%3Cpath d='M3.20737 7.36148L0.101382 4.25857C0.064516 4.22164 0.0384638 4.18162 0.0232257 4.13852C0.00774183 4.09543 0 4.04925 0 4C0 3.95075 0.00774183 3.90457 0.0232257 3.86148C0.0384638 3.81838 0.064516 3.77836 0.101382 3.74142L3.20737 0.629288C3.29339 0.543096 3.40092 0.5 3.52995 0.5C3.65899 0.5 3.76959 0.546174 3.86175 0.638522C3.95392 0.730871 4 0.83861 4 0.961741C4 1.08487 3.95392 1.19261 3.86175 1.28496L1.15207 4L3.86175 6.71504C3.94777 6.80123 3.99078 6.90737 3.99078 7.03346C3.99078 7.15979 3.9447 7.26913 3.85253 7.36148C3.76037 7.45383 3.65284 7.5 3.52995 7.5C3.40707 7.5 3.29954 7.45383 3.20737 7.36148Z' fill='%233E3E3D'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      display: flex;
      width: 4px;
      height: 7px; }
  :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
    font-size: 1.5rem;
    color: #3e3e3d; }

.profile {
  padding: 0 1.25rem; }
  .profile .boxContainerBody {
    padding: 1rem 0.75rem 0; }
