.headerStickyRow {
  height: 148px;
  z-index: 99 !important; }
  @media (min-width: 1008px) {
    .headerStickyRow {
      height: 126px; } }

.headerRow {
  height: 148px; }
  @media (min-width: 1008px) {
    .headerRow {
      height: 126px; } }

.headerRowBackground {
  height: 148px;
  background-color: white !important; }
  @media (min-width: 1008px) {
    .headerRowBackground {
      height: 126px; } }
