.flexCol--home-conatiner-products {
  margin-block: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

.flexCol--container-slider {
  margin-bottom: 3rem; }

.flexRow--header-container-mob {
  width: calc(100% + 40px) !important;
  margin-inline: -20px;
  background-color: black; }
  @media (min-width: 1008px) {
    .flexRow--header-container-mob {
      width: calc(100% + 4.4vw) !important;
      margin-inline: -2.2vw; } }

.flexRowContent--header-main-mob {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px; }

.flexRowContent--header-mob-menu {
  justify-content: flex-start;
  display: flex;
  align-items: center; }
  .flexRowContent--header-mob-menu .stretchChildrenWidth {
    width: unset !important; }

.flexRowContent--header-mob-logo {
  width: 4rem;
  display: flex;
  align-items: center; }

.flexRowContent--header-mob-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.flexColChild--container-dep-top {
  width: calc(100% + 40px) !important;
  margin-inline: -20px; }
  @media (min-width: 1008px) {
    .flexColChild--container-dep-top {
      width: calc(100% + 4.4vw) !important;
      margin-inline: -2.2vw; } }

.flexColChild--departamentTopTextContainer {
  margin-block: 1.75rem 2rem; }

.flexCol--container-slider-categorias {
  margin-bottom: 2rem; }
  .flexCol--container-slider-categorias :global(.vtex-slider-layout-0-x-sliderLayoutContainer--slidercat) {
    margin-top: 1rem !important; }

.flexCol--container-dep-bottom {
  margin-top: 2rem; }

.flexColChild--image-dep-bottom {
  width: calc(100% + 40px) !important;
  margin-inline: -20px;
  margin-bottom: 1rem; }
  @media (min-width: 1008px) {
    .flexColChild--image-dep-bottom {
      width: calc(100% + 4.4vw) !important;
      margin-inline: -2.2vw; } }

.flexRowContent--not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flexCol--not-found-text {
  margin-block: 2rem; }
