.link--textMenuFooter {
  text-decoration: none;
  color: #353a42;
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem; }
  .link--textMenuFooter:hover {
    text-decoration: underline; }

.link--triple-banner-link {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #757171;
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: underline; }

.link--departament-categories {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: #757171;
  background-color: #f7f7f7;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-decoration: none; }

.link--back-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none; }
  .link--back-home .label--back-home {
    text-transform: uppercase;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    padding: 15px 40px;
    margin: 1rem 0;
    border-radius: 99px; }

.label--blog-item-link {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #757171;
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-decoration: underline; }
  .label--blog-item-link:hover {
    color: #cf002e; }

.link--link-insta {
  color: #0798f6;
  font-weight: 700;
  text-decoration: none; }

.link--sobre-nos-link {
  color: #757171;
  font-weight: 400;
  font-size: 1rem; }
  .link--sobre-nos-link:visited {
    color: #353a42; }
  .link--sobre-nos-link:hover {
    color: #cf002e; }

.link--link-atendimento {
  display: none; }
  @media screen and (min-width: 1008px) {
    .link--link-atendimento {
      display: block;
      color: #ffffff;
      font-size: 14px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0;
      text-decoration: none; }
      .link--link-atendimento :hover {
        text-decoration: underline; } }

.link--keepBuying-button {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  border: 1px solid #757171;
  border-radius: 100px;
  color: #757171;
  text-decoration: none;
  height: 42px;
  width: calc(100% - 1.5rem);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: auto;
  margin-bottom: 30px; }
  .link--keepBuying-button:hover {
    text-decoration: underline; }
  .link--keepBuying-button:active {
    text-decoration: underline; }
  @media (min-width: 1008px) {
    .link--keepBuying-button {
      width: calc(100% - 3rem); } }
  .link--keepBuying-button:visited {
    color: #757171;
    text-decoration: none; }
