@charset "UTF-8";
.section--confirmation {
  width: 90%;
  margin-bottom: 45px; }
  .section--confirmation .confirmationTitle {
    font-weight: bold;
    font-size: 1.125rem;
    margin-top: 20px;
    color: #353a42;
    font-weight: 500; }
  .section--confirmation .confirmationMessage {
    color: #353a42; }

.orderPlacedWrapper {
  padding-top: 40px; }

.packageAddressWrapper {
  margin-bottom: 0; }

.section--notices {
  width: 90%;
  margin-bottom: 0; }
  .section--notices .noticesList {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px; }
    .section--notices .noticesList .noticeListItem {
      border: none;
      padding: 20px;
      width: 100%;
      color: #353a42; }
      .section--notices .noticesList .noticeListItem:last-child {
        padding-top: 0; }
      .section--notices .noticesList .noticeListItem:first-child {
        padding-bottom: 0; }

.orderPlacedMainWrapper {
  margin-top: 15px; }

.orderWrapper .orderNumber {
  font-weight: bold;
  padding-bottom: 10px;
  color: #353a42;
  font-size: 1.125rem; }

.orderWrapper .orderDatetime {
  color: #353a42; }

.orderWrapper .orderSoldBy {
  color: #353a42; }

.orderWrapper .customerInfoListContainer {
  font-family: 'Corporative'; }
  .orderWrapper .customerInfoListContainer .customerInfoListName {
    color: #353a42;
    font-weight: bold;
    font-size: 0.875rem;
    padding-top: 0; }
  .orderWrapper .customerInfoListContainer .customerInfoListEmail {
    color: #353a42;
    font-size: 0.875rem; }
  .orderWrapper .customerInfoListContainer .customerInfoListDocument {
    font-size: 0.875rem;
    color: #353a42; }
  .orderWrapper .customerInfoListContainer .customerInfoListPhone {
    color: #353a42;
    font-size: 0.875rem; }

.orderWrapper .section--paymentMethods {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ededed;
  border-top: none; }
  .orderWrapper .section--paymentMethods .orderPaymentWrapper {
    background: white;
    padding: 0 !important; }
    .orderWrapper .section--paymentMethods .orderPaymentWrapper .orderPaymentItem {
      background: #f8f8f8;
      border-radius: 5px;
      padding: 20px; }
      .orderWrapper .section--paymentMethods .orderPaymentWrapper .orderPaymentItem .paymentGroup {
        font-size: 0.875rem;
        font-weight: bold;
        margin-top: 0;
        color: #353a42; }
      .orderWrapper .section--paymentMethods .orderPaymentWrapper .orderPaymentItem .paymentValue {
        font-size: 0.875rem;
        color: #353a42; }
  .orderWrapper .section--paymentMethods .orderOptionsWrapper--mobile {
    position: relative;
    height: 180px; }
    .orderWrapper .section--paymentMethods .orderOptionsWrapper--mobile .myOrdersButton--mobile {
      position: absolute;
      top: 20px; }
    .orderWrapper .section--paymentMethods .orderOptionsWrapper--mobile .updateOrderButton--mobile {
      position: absolute;
      top: 82px; }
    .orderWrapper .section--paymentMethods .orderOptionsWrapper--mobile .cancelOrderButton--mobile {
      position: absolute;
      bottom: 0; }

.orderWrapper .section--deliveryPackages {
  margin-top: 20px;
  border: none; }
  .orderWrapper .section--deliveryPackages .package--delivery {
    margin-top: 0;
    margin-bottom: 0;
    background: none;
    border: none; }
    .orderWrapper .section--deliveryPackages .package--delivery .packageHeaderColumn {
      border: 1px solid #ededed;
      background-color: white;
      padding: 20px;
      border-radius: 5px; }
      .orderWrapper .section--deliveryPackages .package--delivery .packageHeaderColumn .packageHeader--delivery .packageDeliveryTitle {
        font-weight: bold; }
      .orderWrapper .section--deliveryPackages .package--delivery .packageHeaderColumn .addressContainer {
        background-color: #f8f8f8;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 0.875rem;
        color: #353a42;
        font-family: 'Corporative'; }
    .orderWrapper .section--deliveryPackages .package--delivery .productList {
      background: #ffffff;
      margin-top: 15px;
      padding: 16px !important;
      border: 1px solid #ededed;
      position: relative;
      border-radius: 5px; }
      .orderWrapper .section--deliveryPackages .package--delivery .productList .productListItem::before {
        content: "Resumo do pedido";
        font-weight: bold;
        position: absolute;
        top: 20px;
        font-family: 'Corporative'; }
      .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        height: 110px;
        margin-top: 45px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper .productImageColumn {
          position: unset;
          top: 0;
          left: 0;
          margin: 0; }
          .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper .productImageColumn .productImageWrapper {
            width: 90px;
            border-radius: 5px; }
        .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper .productInfoColumn {
          margin-left: 0;
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
          text-align: left;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 0.875rem;
          border: none;
          width: calc(100% - 90px); }
          .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper .productInfoColumn .productName {
            margin-left: 10px;
            color: #353a42;
            font-size: 0.875rem; }
          .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper .productInfoColumn .productMeasurementUnit {
            display: none; }
          .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper .productInfoColumn .productQuantity {
            display: none; }
        .orderWrapper .section--deliveryPackages .package--delivery .productList .productWrapper .productPrice {
          margin-left: 100px;
          margin-top: -40px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
          font-size: 0.875rem;
          font-family: 'Corporative';
          font-weight: 600; }

.orderWrapper .section--pickupPackages {
  border: none; }

.totalListWrapper {
  background: #ffffff;
  border-radius: 5px; }
  .totalListWrapper .totalList {
    font-family: 'Corporative'; }
    .totalListWrapper .totalList .totalListItem .totalListItemLabel {
      font-weight: bold;
      font-size: 1.125rem; }
    .totalListWrapper .totalList .totalListItem .totalListItemValue {
      font-weight: bold;
      font-size: 1.125rem; }
    .totalListWrapper .totalList .totalListItem--Shipping .totalListItemLabel {
      font-weight: normal;
      font-size: 1rem; }
    .totalListWrapper .totalList .totalListItem--Shipping .totalListItemValue {
      font-weight: normal;
      font-size: 1rem; }
    .totalListWrapper .totalList .totalListItem--Items .totalListItemLabel {
      font-weight: normal;
      font-size: 1rem; }
    .totalListWrapper .totalList .totalListItem--Items .totalListItemValue {
      font-weight: normal;
      font-size: 1rem; }

@media screen and (min-width: 1008px) {
  .section--notices {
    width: 70%; }
    .section--notices .noticesList .noticeListItem {
      text-align: start;
      font-size: 1.125rem; }
  .section--confirmation {
    width: 70%;
    margin: 0 auto; }
    .section--confirmation :global(.vtex-flex-layout-0-x-flexRowContent--confirmationButtons) {
      width: 100%; }
      .section--confirmation :global(.vtex-flex-layout-0-x-flexRowContent--confirmationButtons) .items-stretch {
        width: 100%; }
      .section--confirmation :global(.vtex-flex-layout-0-x-flexRowContent--confirmationButtons) :global(.vtex-flex-layout-0-x-flexColChild) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .section--confirmation :global(.vtex-flex-layout-0-x-flexRowContent--confirmationButtons) :global(.vtex-button) {
        border-radius: 100px;
        color: white;
        text-decoration: none;
        width: 30%;
        min-width: 270px; }
    .section--confirmation .confirmationTitle {
      font-size: 1.375rem; }
    .section--confirmation .confirmationMessage {
      font-size: 1.125rem; }
  .orderPlacedMainWrapper {
    width: 70% !important;
    margin: 20px auto 0 !important; }
    .orderPlacedMainWrapper .orderNumber {
      font-size: 1.25rem; }
    .orderPlacedMainWrapper .orderDatetime {
      font-size: 1.125rem; }
    .orderPlacedMainWrapper .orderSoldBy {
      font-size: 1.125rem; }
    .orderPlacedMainWrapper :global(.vtex-flex-layout-0-x-flexRow) {
      background-color: white;
      padding: 0;
      border: none; }
      .orderPlacedMainWrapper :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
        margin-bottom: 0; }
    .orderPlacedMainWrapper :global(.vtex-order-placed-2-x-orderOptionsWrapper) :global(.vtex-order-placed-2-x-updateOrderButton) :global(.vtex-button) {
      color: #757171;
      background: white;
      border: 1px solid #757171;
      border-radius: 40px;
      padding: 5px 35px;
      font-size: 1rem; }
      .orderPlacedMainWrapper :global(.vtex-order-placed-2-x-orderOptionsWrapper) :global(.vtex-order-placed-2-x-updateOrderButton) :global(.vtex-button) :global(.vtex-button__label) {
        font-size: 1rem; }
    .orderPlacedMainWrapper :global(.vtex-order-placed-2-x-orderOptionsWrapper) :global(.vtex-order-placed-2-x-myOrdersButton) :global(.vtex-button) {
      background-color: #cf002e;
      border-radius: 100px;
      width: 100%;
      padding: 5px 15px;
      border-color: #cf002e; }
      .orderPlacedMainWrapper :global(.vtex-order-placed-2-x-orderOptionsWrapper) :global(.vtex-order-placed-2-x-myOrdersButton) :global(.vtex-button) :global(.vtex-button__label) {
        padding: 0;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
        text-underline-offset: 4px;
        text-transform: uppercase;
        font-size: 1rem; }
    .orderPlacedMainWrapper :global(.vtex-profile-form-3-x-profileSummary) {
      background-color: white;
      padding: 0 !important;
      margin: 0; }
    .orderPlacedMainWrapper .customerInfoListContainer {
      padding: 20px !important;
      background-color: #f8f8f8;
      border-radius: 5px;
      margin-top: 1.25rem; }
      .orderPlacedMainWrapper .customerInfoListContainer .customerInfoListName {
        font-size: 1rem; }
      .orderPlacedMainWrapper .customerInfoListContainer .customerInfoListEmail {
        font-size: 1rem; }
      .orderPlacedMainWrapper .customerInfoListContainer .customerInfoListDocument {
        font-size: 1rem; }
      .orderPlacedMainWrapper .customerInfoListContainer .customerInfoListPhone {
        font-size: 1rem; }
    .orderPlacedMainWrapper .paymentGroup {
      font-size: 1rem !important; }
    .orderPlacedMainWrapper .paymentValue {
      font-size: 1rem !important; }
    .orderPlacedMainWrapper .section--paymentMethods {
      border: none;
      border-bottom: 1px solid #ededed; }
      .orderPlacedMainWrapper .section--paymentMethods .orderPaymentWrapper {
        background: none;
        border-radius: 5px;
        padding: 20px !important; }
    .orderPlacedMainWrapper .orderPaymentItem {
      width: 100%;
      margin-right: 0;
      background-color: #f8f8f8; }
      .orderPlacedMainWrapper .orderPaymentItem .orderPaymentItem .mt2.z-2.absolute {
        width: -webkit-fit-content !important;
        width: -moz-fit-content !important;
        width: fit-content !important; }
    .orderPlacedMainWrapper .packageAddressWrapper {
      width: 100%;
      margin-right: 0; }
    .orderPlacedMainWrapper .section--deliveryPackages .package--delivery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .orderPlacedMainWrapper .section--deliveryPackages .package--delivery .productList {
        width: 100%; }
    .orderPlacedMainWrapper .packageDeliveryTitle {
      font-size: 1.25rem;
      line-height: 50px; }
    .orderPlacedMainWrapper .orderWrapper .section--deliveryPackages .package--delivery .packageHeaderColumn {
      padding-top: 10px; }
      .orderPlacedMainWrapper .orderWrapper .section--deliveryPackages .package--delivery .packageHeaderColumn .packageHeader--delivery .packageShippingEstimate {
        font-size: 1.125rem; }
      .orderPlacedMainWrapper .orderWrapper .section--deliveryPackages .package--delivery .packageHeaderColumn .packageHeader--delivery .packageSLA {
        font-size: 1.125rem; }
    .orderPlacedMainWrapper .productWrapper {
      width: 330px;
      width: 100%;
      background: #ffffff !important;
      border-radius: 5px;
      margin-bottom: 0 !important;
      margin-top: 0 !important; }
      .orderPlacedMainWrapper .productWrapper:first-child {
        margin-top: 45px !important; }
      .orderPlacedMainWrapper .productWrapper .productName {
        background: #ffffff !important;
        padding-top: 25px; }
      .orderPlacedMainWrapper .productWrapper .productPrice {
        margin-top: -55px !important; }
    .orderPlacedMainWrapper .productListItem {
      margin-top: 20px !important;
      font-family: 'Corporative'; }
      .orderPlacedMainWrapper .productListItem:first-child {
        margin-bottom: 0 !important;
        padding-bottom: 20px !important; }
    .orderPlacedMainWrapper .totalListWrapper {
      margin: 15px 0;
      border: 1px solid #ededed; }
      .orderPlacedMainWrapper .totalListWrapper .totalList {
        width: 100%;
        margin-top: 0;
        padding: 20px !important; }
        .orderPlacedMainWrapper .totalListWrapper .totalList .totalListItem {
          padding-top: 5px;
          padding-bottom: 5px; }
          .orderPlacedMainWrapper .totalListWrapper .totalList .totalListItem .totalListItemLabel {
            font-size: 1rem; }
          .orderPlacedMainWrapper .totalListWrapper .totalList .totalListItem .totalListItemValue {
            font-size: 1rem; }
        .orderPlacedMainWrapper .totalListWrapper .totalList .totalListItem--Discounts .totalListItemLabel {
          font-weight: normal; }
        .orderPlacedMainWrapper .totalListWrapper .totalList .totalListItem--Discounts .totalListItemValue {
          font-weight: normal;
          color: #fb7181; }
  .orderWrapper .section--deliveryPackages .package--delivery .productList .productListItem::before {
    font-size: 1.125rem; }
  .totalListWrapper .totalList .totalListItem .totalListItemLabel {
    font-size: 1.25rem; }
  .updateOrderButton :global(.vtex-button) {
    background-color: #231f20;
    border-color: #231f20;
    color: white; }
  .myOrdersButton :global(.vtex-button) {
    background-color: none;
    color: #231f20;
    border-color: #231f20; } }

.confirmationTitle {
  display: none; }

.confirmationMessage::before {
  content: "Sua compra foi confirmada! Agora é com a gente.";
  margin-top: 20px;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: bold; }
  @media screen and (min-width: 1008px) {
    .confirmationMessage::before {
      font-size: 1.375rem; } }
