.sliderLayoutContainer--slidercat {
  margin-top: 1.5rem; }

.sliderTrackContainer--slidercat {
  width: calc(100% + 40px) !important;
  margin-inline: -20px;
  padding-left: 20px; }
  @media (min-width: 1008px) {
    .sliderTrackContainer--slidercat {
      width: calc(100% + 4.4vw) !important;
      margin-inline: -2.2vw; } }
  .sliderTrackContainer--slidercat .sliderTrack--slidercat {
    gap: 1rem; }

.imageElementLink--slidercat {
  position: relative; }
  .imageElementLink--slidercat::after {
    position: absolute;
    z-index: 2;
    bottom: 9.6%;
    left: 50%;
    transform: translateX(-50%);
    content: attr(title);
    font-family: "SofiaPro";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "SofiaPro";
    font-weight: 0.875rem;
    font-size: 1rem;
    color: #3e3e3d;
    display: flex;
    padding: 0.75rem 1.5rem;
    background: #ffffff; }
