.paragraph--wishlist-title {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0px;
  font-family: "SofiaPro";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SofiaPro";
  font-size: 1.5rem; }

.heading--home-products-title {
  font-family: "SofiaPro";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 1.5rem;
  color: #3e3e3d; }

.paragraph--home-products-text {
  font-family: "SofiaPro";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  color: #3e3e3d; }

.heading--slider-category-title {
  font-family: "SofiaPro";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 1.5rem;
  color: #3e3e3d;
  margin-bottom: 0.5rem; }

.paragraph--slider-category-text {
  font-family: "SofiaPro";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  color: #3e3e3d; }
