.container {
  padding-inline: 20px; }
  @media (min-width: 1008px) {
    .container {
      max-width: unset !important; } }
  .container .container {
    padding: 0 !important; }

.imageElement--image-top-departament {
  width: 100%;
  height: auto; }

.imageElement--image-bottom-departament {
  width: 100%;
  height: auto; }

.searchBarContainer {
  display: flex;
  height: 60px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }
