.gallery {
  display: grid;
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  width: 100%;
  max-width: unset;
  gap: 2rem 1rem;
  margin: 0 !important;
  padding: 0; }
  @media screen and (min-width: 1008px) {
    .gallery {
      grid-template-columns: calc(25% - 12px) calc(25% - 12px) calc(25% - 12px) calc(25% - 12px); } }
  .gallery :global(.vtex-store-components-3-x-discountInsideContainer) {
    bottom: 8px;
    left: 8px; }
  .gallery :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    bottom: 8px;
    right: 8px; }
  .gallery :global(.vtex-flex-layout-0-x-flexRowContent--sellingAndListPrice) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (min-width: 1008px) {
      .gallery :global(.vtex-flex-layout-0-x-flexRowContent--sellingAndListPrice) :global(.vtex-product-price-1-x-sellingPrice--hasListPrice) :global(.vtex-product-price-1-x-sellingPriceValue) {
        padding-left: 0.5rem; } }

.galleryItem {
  max-width: unset !important;
  padding: 0 !important; }

.galleryTitle--layout {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  color: #353a42; }

.filterPopupButton {
  width: 100%;
  border: 1px solid #ededed;
  border-radius: 3px;
  padding-block: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 55px;
  gap: 10px; }
  .filterPopupButton .filterPopupTitle {
    font-family: "Corporative", -apple-system, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    color: #353a42;
    margin: 0; }
  .filterPopupButton .filterPopupArrowIcon {
    padding: 0;
    margin: 0; }
    .filterPopupButton .filterPopupArrowIcon::before {
      content: "";
      background-image: url("assets/mobile/departamento/filter-icon.png");
      background-size: contain;
      width: 24px;
      height: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 24px;
      max-height: 24px; }

.orderByButton {
  width: 100%;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding-block: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 55px;
  gap: 10px; }
  @media screen and (min-width: 1008px) {
    .orderByButton {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: 1px solid #ededed;
      border-radius: 3px;
      gap: 30px; } }
  .orderByButton .orderByText {
    display: none; }
  .orderByButton .filterPopupTitle {
    font-family: "Corporative", -apple-system, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    color: #353a42;
    white-space: nowrap; }
  .orderByButton .filterPopupArrowIcon {
    padding: 0; }
    .orderByButton .filterPopupArrowIcon::before {
      content: "";
      background-image: url("assets/mobile/departamento/down-caret.png");
      background-size: contain;
      width: 24px;
      height: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.orderByOptionItem {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 163px; }

.orderByDropdown {
  padding: 0; }

.orderByOptionsContainer {
  z-index: 5;
  min-width: 163px; }

.filterIcon {
  display: none; }

@media (min-width: 1008px) {
  .filterTitle .filterIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
    .filterTitle .filterIcon::before {
      content: "";
      background-image: url("assets/SVG-Icons/seta-baixo.svg");
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center; } }

@media (min-width: 1008px) {
  .filterIsOpen .filterIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .filterIsOpen .filterIcon::before {
      rotate: 180deg; } }

.caretIcon {
  display: none; }

.buttonShowMore :global(.vtex-button) {
  background-color: #ffffff;
  border: 1px solid #757171;
  border-radius: 100px;
  height: 40px;
  margin-block: 0.3rem 2rem; }
  .buttonShowMore :global(.vtex-button):hover {
    text-decoration: underline; }
  .buttonShowMore :global(.vtex-button):active {
    text-decoration: underline; }
  .buttonShowMore :global(.vtex-button) :global(.vtex-button__label) {
    font-family: "Corporative", -apple-system, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #757171;
    text-transform: uppercase;
    font-size: 1rem; }
    .buttonShowMore :global(.vtex-button) :global(.vtex-button__label):hover {
      text-decoration: underline; }

.sidebar .accordionFilter {
  padding-bottom: 6rem;
  padding-top: 3rem; }

.sidebar .accordionFilterItem {
  height: 2.75rem;
  min-height: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: none; }
  .sidebar .accordionFilterItem .accordionFilterContent {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sidebar .accordionFilterItem .accordionFilterItemTitle {
    font-family: "Corporative", -apple-system, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.875rem; }
  .sidebar .accordionFilterItem .accordionFilterItemIcon {
    margin-left: auto; }
  .sidebar .accordionFilterItem .caretIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #8a8a8a; }

.sidebar .closeIconButton {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 0.813rem;
  padding-right: 16px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sidebar .closeIconButton .closeIcon {
    height: 20px;
    width: 20px; }

.sidebar .filterBreadcrumbsText {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  color: #353a42; }

.sidebar .filterBreadcrumbsContent {
  padding: 0; }

.sidebar .filterAccordionBreadcrumbs {
  padding-block: 0.625rem;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  border-bottom: none;
  position: fixed;
  z-index: 3;
  top: 0; }

.sidebar .accordionFilterContainer {
  padding-inline: 16px; }

.sidebar .accordionFilterOpen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin-left: -3rem;
  padding-left: 16px;
  padding: 0.3125rem 0; }

.sidebar .filterAccordionItemBox {
  padding: 0.3125rem 0;
  min-height: 0;
  border-bottom: none; }

.sidebar :global(.vtex-checkbox__label) {
  font-family: "Corporative", -apple-system, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem; }

.sidebar :global(.vtex-checkbox__inner-container) {
  border: 1px solid #a50023;
  border-radius: 0; }

.sidebar .accordionFilterItemOptions {
  margin-left: -3rem;
  padding-inline: 16px; }

.sidebar .filter__container--priceRange {
  border: none; }
  .sidebar .filter__container--priceRange .filter {
    display: none; }
  .sidebar .filter__container--priceRange :global(.vtex-slider-container) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .sidebar .filter__container--priceRange :global(.vtex-slider-container) :global(.vtex-slider__values-container) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .sidebar .filter__container--priceRange :global(.vtex-slider-container) :global(.vtex-slider__values-container) :global(.vtex-slider__left-value) {
        font-family: "Corporative", -apple-system, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.4px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #353a42;
        font-size: 0.75rem; }
      .sidebar .filter__container--priceRange :global(.vtex-slider-container) :global(.vtex-slider__values-container) :global(.vtex-slider__right-value) {
        font-family: "Corporative", -apple-system, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.4px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #353a42;
        font-size: 0.75rem; }
    .sidebar .filter__container--priceRange :global(.vtex-slider-container) :global(.vtex-slider__dash) {
      margin-inline: 13px; }
    .sidebar .filter__container--priceRange :global(.vtex-slider-container) :global(.vtex-slider__base-internal) {
      background-color: #a50023; }
    .sidebar .filter__container--priceRange :global(.vtex-slider-container) :global(.vtex-slider__selector) {
      background-color: #a50023;
      height: 17px !important;
      width: 17px !important; }
    .sidebar .filter__container--priceRange :global(.vtex-slider-container) :global(.vtex-slider__selector-container) {
      top: 4px !important; }

.sidebar .filterButtonsBox {
  height: 5rem;
  border: 1px solid #ededed; }
  .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
    background-color: #cf002e;
    border: 1px solid #cf002e;
    border-radius: 100px; }
    .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button):hover {
      background-color: #a50023; }
    .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button):active {
      background-color: #a50023; }
    .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) :global(.vtex-button__label) {
      font-family: "Corporative", -apple-system, sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.4px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: white;
      font-size: 1rem; }
  .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
    background-color: #ffffff;
    border: 1px solid #757171;
    border-radius: 100px; }
    .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button):hover {
      text-decoration: underline; }
    .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button):active {
      text-decoration: underline; }
    .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) :global(.vtex-button__label) {
      font-family: "Corporative", -apple-system, sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.4px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #757171;
      font-size: 1rem; }

:global(.vtex-checkbox__line-container) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__container) {
    min-width: 26px;
    margin: 0 !important; }
    :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__container) :global(.vtex-checkbox__inner-container) {
      margin: 0 !important;
      border: 1px solid #a50023; }

.gallery {
  margin-bottom: 2.3rem; }

.filter__container {
  border: none !important; }

@media screen and (min-width: 1024px) {
  .filterMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    margin-top: 0; }
    .filterMessage::before {
      content: "";
      width: 30px;
      height: 24px;
      background-image: url("assets/mobile/departamento/filter-icon.png");
      background-repeat: no-repeat;
      background-size: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
