@import "../../../../styles/padroes/padroes.scss";

.headerScrolled{
    :global(.flexRow--header-container-mob) {
        width: 100%;
        position: fixed;
        background-color: rgb(250, 142, 0);
      }

    
}