@import "./../padroes/padroes.scss";

// .openIconContainer{
//     padding: unset !important;
//     background-image: url("assests/svg/mini-cart-white");
// }
.minicartTitle--minicart-base-container {
    @include font400;
    color: $color--brand--primary;
    font-size: $fontSize5;

    padding: 0.75rem 1.25rem;
    margin: 0;
}

.closeIcon {
    display: none;
}

.minicartTitle {
    padding: 1.5rem 1.25rem 0.5rem;
}

.minicartProductListContainer {
    padding: 0.5rem 1.25rem;
    padding-bottom: 10rem;
}

.closeIconContainer {
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
}

.closeIconButton::after {
    content: "";

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cg clip-path='url(%23clip0_322_32361)'%3E%3Cpath d='M6.64622 5.99999L10.8872 0.816485C11.0622 0.602985 11.0302 0.287985 10.8162 0.112985C10.6022 -0.0610152 10.2877 -0.0305152 10.1127 0.183985L6.00022 5.21048L1.88722 0.183485C1.71172 -0.0310152 1.39722 -0.0615152 1.18372 0.112485C0.969716 0.287985 0.938216 0.602485 1.11272 0.815985L5.35422 5.99999L1.11322 11.1835C0.938216 11.397 0.970216 11.712 1.18422 11.887C1.39672 12.061 1.71222 12.031 1.88772 11.816L6.00022 6.78949L10.1132 11.816C10.2887 12.031 10.6042 12.0605 10.8167 11.887C11.0307 11.7115 11.0622 11.397 10.8877 11.1835L6.64622 5.99999Z' fill='%233E3E3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_32361'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    display: flex;
    width: 12px;
    height: 12px;
}

.minicartSummary {
    padding: 0 1.25rem;
}

:global(.vtex-checkout-summary-0-x-summarySmallContent) {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 1.5rem;

    :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
        margin: 0;
        padding: 0;

        font-size: $fontSize2;
        line-height: normal;
        color: $color--brand--primary;
    }
}

:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
    display: none;
}

.minicartCheckoutButton {
    padding: 0 1.25rem 1rem;
    margin: 0;

    :global(.vtex-button) {
        @include btn1();
        padding: 1.25rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        :global(.vtex-button__label) {
            display: none;
        }

        &::before {
            @include font400();
            content: "Finalizar pedido";
        }
        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0C3.14007 0 0 3.14007 0 7C0 10.8599 3.14007 14 7 14C10.8599 14 14 10.8599 14 7C14 3.14007 10.8599 0 7 0ZM9.16243 7.41243L6.24575 10.3291C6.132 10.4428 5.98268 10.5 5.83332 10.5C5.684 10.5 5.53465 10.4428 5.4209 10.3291C5.19282 10.101 5.19282 9.73232 5.4209 9.50425L7.92518 7L5.42093 4.49575C5.19285 4.26768 5.19285 3.899 5.42093 3.67093C5.649 3.44285 6.01768 3.44285 6.24575 3.67093L9.16243 6.5876C9.3905 6.81568 9.3905 7.18432 9.16243 7.41243Z' fill='white'/%3E%3C/svg%3E%0A");
            display: flex;
            width: 14px;
            height: 14px;
        }
    }
}

:global(.vtex-minicart-2-x-minicartIconContainer--minicart){
    &::after{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1668_401)'%3E%3Cpath d='M17.5 5H15C15 3.67392 14.4732 2.40215 13.5355 1.46447C12.5979 0.526784 11.3261 0 10 0C8.67392 0 7.40215 0.526784 6.46447 1.46447C5.52678 2.40215 5 3.67392 5 5H2.5C1.83696 5 1.20107 5.26339 0.732233 5.73223C0.263392 6.20107 0 6.83696 0 7.5L0 15.8333C0.00132321 16.938 0.440735 17.997 1.22185 18.7782C2.00296 19.5593 3.062 19.9987 4.16667 20H15.8333C16.938 19.9987 17.997 19.5593 18.7782 18.7782C19.5593 17.997 19.9987 16.938 20 15.8333V7.5C20 6.83696 19.7366 6.20107 19.2678 5.73223C18.7989 5.26339 18.163 5 17.5 5ZM10 1.66667C10.8841 1.66667 11.7319 2.01786 12.357 2.64298C12.9821 3.2681 13.3333 4.11594 13.3333 5H6.66667C6.66667 4.11594 7.01786 3.2681 7.64298 2.64298C8.2681 2.01786 9.11594 1.66667 10 1.66667ZM18.3333 15.8333C18.3333 16.4964 18.0699 17.1323 17.6011 17.6011C17.1323 18.0699 16.4964 18.3333 15.8333 18.3333H4.16667C3.50363 18.3333 2.86774 18.0699 2.3989 17.6011C1.93006 17.1323 1.66667 16.4964 1.66667 15.8333V7.5C1.66667 7.27899 1.75446 7.06702 1.91074 6.91074C2.06702 6.75446 2.27899 6.66667 2.5 6.66667H5V8.33333C5 8.55435 5.0878 8.76631 5.24408 8.92259C5.40036 9.07887 5.61232 9.16667 5.83333 9.16667C6.05435 9.16667 6.26631 9.07887 6.42259 8.92259C6.57887 8.76631 6.66667 8.55435 6.66667 8.33333V6.66667H13.3333V8.33333C13.3333 8.55435 13.4211 8.76631 13.5774 8.92259C13.7337 9.07887 13.9457 9.16667 14.1667 9.16667C14.3877 9.16667 14.5996 9.07887 14.7559 8.92259C14.9122 8.76631 15 8.55435 15 8.33333V6.66667H17.5C17.721 6.66667 17.933 6.75446 18.0893 6.91074C18.2455 7.06702 18.3333 7.27899 18.3333 7.5V15.8333Z' fill='%233E3E3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1668_401'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        display: flex;
        width: 20px;
        height: 20px;
    }
    :global(.vtex-store-icons-0-x-cartIcon){
        display: none;
    }
}
