@import "./../padroes/padroes.scss";


.biggy-js-container--hidden{
 opacity: 1;
 max-height: unset !important;
}
.biggy-autocomplete-wrapper {
  width: 100vw;
  margin-left: 0rem;
  @media screen and (min-width: 1008px) {
    margin-left: 0;
  }

}

.itemList--suggestion {
    @include font400;
    color: $color--brand--primary;
    font-size: $fontSize3;
    display: block;
  .itemListTitle {
    // display: block !important;
    display: none !important;
    .itemListLinkTitle{
        display: none !important;
    }
  }
  .itemListList {
    display: block !important;
  }
}

.biggy-autocomplete {
  background-color: white;
  padding-block: 0;
  width: 100vw;
  z-index: 99;
  top: 150px;

  @media screen and (min-width: 1008px) {
    width: 40vw;
    // top: 90px;
    top: 38px;
    // left: 31.5%;
    left: 0;

    &::-webkit-scrollbar-track {
      background-color: #f4f4f4 !important;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background: #cecece !important;
    }
    &::-webkit-scrollbar-thumb {
      background: #dad7d7 !important;
    }
  }

  .priceContainer {
    display: flex;
    .sellingPriceValue {
      .currencyContainer {
       
        @include font400;
        color: $color--brand--primary;
        font-size: $fontSize2;
      }
    }
  }

  .tileListItem {
    border-radius: 5px;
    box-shadow: none;
    margin: 0 auto;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color--gray-50;;

    .imageContainer {
    //     height: fit-content;
    //   max-height: unset !important;
    display: flex;
    width: 7.5625rem;
    height: 7.5625rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    }
    .image {
        width: 7.0625rem;
        height: 7.0625rem;
        flex-shrink: 0;

        border-radius: 0.125rem;
        
    }
    .productBrand {
        @include font400;
        flex-wrap: wrap;
        color: $color--brand--primary;
        font-size: $fontSize2;
        
    }

    .no-underline {
      width: 94vw;
      display: flex;
    }

    .element {
        display: flex;
        width: 100%;
        align-items: flex-start;
        align-items: center;
        padding: 0 !important;
    //   background: #fff;
    //   border-radius: 7px;
    //   @media (min-width: 1008px) {
    //     padding-left: 0;
    //   }

      .imageContainer {
        width: fit-content;
      }

      .information {
         display: flex;
        width: 100%;
         height: 7.5625rem;
         padding: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
         gap: 1.5rem;
        
         background:  $color--gray-50;
      }
    }
  }
  .tileListList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .tileListTitle {
    display: none;
    // font-weight: normal;
    // font-size: 0.875rem;
    // text-transform: capitalize;
    // padding-left: 10px;
    // font-weight: bold;
  }

  .itemListTitle {
    display: none;
  }
  .itemListList {
    display: none;

    .itemListItem{
        .itemListSubItem{
            display: none;
        }
    }
  }

  .close-btn {
    display: none;
  }
  .tileListSeeMore {
    
    font-size: 0.875rem;
    height: 35px;
    line-height: 27px;
  }
  .itemListItem:hover {
    .itemListSubItemLink {
      background-color: transparent;
      padding-inline: 30px !important;
    }
  }
}

.tileListFooter{
    display: none;
}
