@import './../padroes/padroes.scss';

.container {
  padding-inline: $margin;

  @media (min-width: 1008px) {
    max-width: unset !important;
    // padding-inline: $marginDesk;
  }
  .container {
    padding: 0 !important;
  }
}

.imageElement--image-top-departament {
  width: 100%;
  height: auto;
}

.imageElement--image-bottom-departament {
  width: 100%;
  height: auto;
}

:global(.vtex-store-components-3-x-searchBarContainer){

  :global(.vtex-store-components-3-x-searchBarInnerContainer){
    
    :global(.vtex-store-components-3-x-autoCompleteOuterContainer){
      
      :global(.vtex-input-prefix__group){
        border: $border--50;

        :global(.vtex-styleguide-9-x-input){
            text-align: start;
            font-family: $fontFamily;
            font-size: $fontSize3;
            @include font400;
            color: $color--brand--secondary;
            background-color:transparent;
        }

        :global(.vtex-input__suffix){
          background-color:transparent;

          :global(.vtex-store-components-3-x-suffixWrapper){
            background-color:transparent;

            :global(.vtex-store-components-3-x-searchBarIcon){
              background-color:transparent;
              
             
            }
          }
        }
      }
    }
  }
  
}
  


