@import './../padroes/padroes.scss';

.flexCol--home-conatiner-products {
  margin-block: 3rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flexCol--container-slider {
  margin-bottom: 3rem;
}


.flexRow--header-container-mob{
  @include fullWidth;
  background-color: black;
}

.flexRowContent--header-main-mob{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px; 
}
.flexRowContent--header-mob-menu{
    justify-content: flex-start;
    display: flex;
    align-items: center;

    .stretchChildrenWidth{
     width: unset !important;
    }
}

    .flexRowContent--header-mob-logo{
      width: 4rem;
      display: flex;     
      align-items: center;
    }

    
    // .stretchChildrenWidth {
    //   width: unset !important;
    // }

    .flexRowContent--header-mob-icons {
      
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
    }
  

.flexColChild--container-dep-top {
  @include fullWidth;
}

.flexColChild--departamentTopTextContainer {
  margin-block: 1.75rem 2rem;
}

.flexCol--container-slider-categorias {
  margin-bottom: 2rem;

  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--slidercat) {
    margin-top: 1rem !important;
  }
}

.flexCol--container-dep-bottom {
  margin-top: 2rem;
}

.flexColChild--image-dep-bottom {
  @include fullWidth;

  margin-bottom: 1rem;
}

.flexRowContent--not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexCol--not-found-text {
  margin-block: 2rem;
}
