@import './../padroes/padroes.scss';

.sliderLayoutContainer--sliderambiente {
  margin-top: 1.5rem;
}

.sliderTrackContainer--sliderambiente {
  @include fullWidth;
  padding-left: 20px;

  overflow-y: hidden !important;
  .sliderTrack--sliderambiente {
    gap: 1rem;
  }
}

.imageElementLink--sliderambiente {
  position: relative;

  &::after {
    position: absolute;
    z-index: 2;
    bottom: 9.6%;
    left: 50%;
    transform: translateX(-50%);

    content: attr(title);

    @include font400;
    font-size: $fontSize3;

    color: $color--brand--primary;

    display: flex;

    padding: 0.75rem 1.5rem;

    background: $color--brand--secondary;
  }
}

.sliderLayoutContainer--slidercat {
  margin-top: 1.5rem;
}

.sliderTrackContainer--slidercat {
  @include fullWidth;
  padding-left: 20px;

  overflow-y: hidden !important;
  .sliderTrack--slidercat {
    gap: 1rem;
  }
}

.imageElementLink--slidercat {
  width: 100%;
  height: 100%;

  text-decoration: none;

  &::after {
    content: attr(title);

    @include font400;
    font-size: $fontSize3;

    color: $color--brand--primary;

    display: flex;

    background: $color--brand--secondary;

    width: 60%;
  }
}

.sliderTrackContainer--productSlider {
  @include fullWidth;

  padding-left: 20px;

  :global(.vtex-product-summary-2-x-element) {
    padding-block: 0 !important;
  }
}

.slide--productSlider {
  margin-inline: 0.5rem;
}

.slide--firstVisible {
  margin-left: 0 !important;
}
