@import './../padroes/padroes.scss';

.flexRowContent--header-container-mob {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
}

.flexCol--home-conatiner-products {
  margin-block: 3rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flexCol--container-slider {
  margin-bottom: 3rem;
}
