@import "../../../../styles/padroes/padroes.scss";

.sliderHeader{
@include fullWidth;
   background-color: $color--gray-300;
   display: flex;

    height: 36px;
    padding: 10px 0px;

    justify-content: center;
    align-items: center;
    text-align: center;
    gap:0px;

    flex-shrink: 0;

    .headerSliderBenefitsLine{

        .headerSliderImage{
            width: 0.75rem;
            height: auto;
            flex-shrink: 0;
        }
        
        .sliderHeaderText{
            @include font400;
            color: $color--brand--secondary;
            text-align: center;
            font-family: $fontFamily;
            font-size: $fontSize2;
            
        }
    }
    
}